
body{
background: url('daytime.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  }

#SearchArea{
    display:flex;
    align-items:center;
    align-content: center;
    flex-direction: column;
    margin-top: 5px;
    
}
input[type='text'] {
    width: 24rem;
    height: 100%;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 0 0.3rem 4.5rem;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align:left;
  }

   input[type='text']::placeholder {
    color: #f3f3f3;
    size:1rem;
  }  

form{
    display:flex;
    flex-direction:row;
}
#srbt{
    position: absolute;
    padding: 5px;
    cursor:pointer;

}
#Result{
    display:none;
    color:white;
    flex-direction: column;
    column-gap: 2em;
    justify-content: space-between;
    height: 100px;
    margin-top:12%
}
#city{
    font-size:3em;
    font-family: 'Merriweather', serif;
    justify-self: center;
    align-self:center
}
#condition{
    justify-content: center;
    align-self:center;
    margin-top:1em;
}
#line{
    justify-content: center;
    align-self:center;
    border-top: 30px solid white;
}
#temp{
    margin-top:0.5em;
    justify-content: center;
    align-self:center;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Merriweather', serif;

}
#temp::after {
    content: '\00B0 F';
    font-size: small;
  }

#feelslike{
    justify-content:flex-start;
    
  }

#feelslike::after{
    content: '\00B0 F';
    font-size: small;
}
#humidity{
    justify-content:flex-start;
    margin-top:0.5em;
}
#humidity::after{
   content:'%';

}
#icon{
    color:none;
}